/*main*/

.first_font {
	font: 13px/18px Arial, Tahoma, sans-serif;
}
.second_font {
	font: 11px/15px Arial, Tahoma, sans-serif;
}

.first_color {
	background: #E4032E!important;
}
.second_color {
	background: #F7F7F7!important;
}
.third_color {
	background: #999999!important;
}

.warning_color {
    background-color: #FBEEC0 !important
}


.first_text_color{
	color: #000!important;
}
.second_text_color {
	color: #FFF!important;
}
.third_text_color {
	color: #E4032E!important;
}
.forth_text_color {
	color: #999999;
}


.first_left_border {
	border-left: solid 1px #999999;
}
.second_left_border {
	border-left: solid 1px #E6E6E6;
}
.first_right_border {
	border-right: solid 1px #999999;
}
.second_right_border {
	border-right: solid 1px #E6E6E6;
}


.first_bottom_border {
	border-bottom: solid 1px #999999;
}
.second_bottom_border {
	border-bottom: solid 1px #E6E6E6;
}

.first_frames_border {
	border: solid 1px #000;
}
.second_frames_border {
	border: solid 1px #E6E6E6;
}

.background_color {
	background: #FFF;
}

.url_color { 
	color: #2873b6;
}

/*height*/
.widgets_height {
	height: 28px;
}
.block_height {
	min-height: 64px;
}
.header_height {
	height: 32px;
}

/*work_area*/

.header_color {
	background: #E4032E url(../images/caption.png) repeat-x;
}


.header_line_height {
	line-height: 34px;
}
.header_font_size {
	font-size: 15px;
}
.work_area_width {
	width: 1070px;
}

/*messages*/

.background_overlay_color {
	  background-color: #FFF;
}

.message_box_load{
    border: 2px solid #ccc;
    background-color: #f3f3f3;
}

.message_overlay_load_color {
    background-color: #f3f3f3;
}

/*error*/

.error_color {
	border-color: #E50029 !important;
	background-color: #FAD2D2 !important;
}

/*widgets*/

.widgets_header_float {
	display: block;
}
.widgets_body_float {
	display: block;
}

.widgets_header {
	padding: 7px 0px 6px 0px !important; 
}

.widgets_color {
    border: none;
    border-radius: 4px;
    padding-left: 16px !important;
    padding-right: 16px !important;
    box-sizing: border-box;
    outline: none;
    background: #F7F7F7;
}

.widgets_focused {
	border: solid 2px #000;
}

.widgets_label_color {
	color: #999999;
}


.widgets_font { 
	font: bold 16px/28px Arial, Tahoma, sans-serif;
}


.downarrow_color {
	background-color: #F7F7F7;
}
.downarrow_size {
	size: 8px;
}

.downarrow {
	width: 25px !important;
}

.downarrow::before {
    content: url(../images/downarrow.png) !important;
}
/*messages*/

.messages_color {
	background: #f3f3f3;
}
.messages_border {
	border: 2px solid #999999;
}
.error_border {
	 border: 2px solid #E50029;
}


/*buttons*/

.interface_add_button {
    border-radius: 4px;
}
.interface_del_button {
    border-radius: 4px;
}

.submit_button {
    border-radius: 4px;
}

.buttons_color {
	background: #F7F7F7;
}

.buttons_color:hover {
	background: #E4032E;
	color: #FFF;
}

.buttons_height {
	height: 32px;
}

.buttons_width {
	width: 98px;
}

/*custom elements*/

h2 {
    color: #000000;
    text-transform: uppercase;
    font-size: 17px;
}

h2 div {
    display: block;
    background: #E6E6E6;
    text-align: center;
    height: 20px;
    padding-top: 20px;
}

h3 {
    color: #000000;
    text-transform: uppercase;
    font-size: 15px;
}

h3 div {
    display: block;
    background: #E6E6E6;
    text-align: center;
    height: 30px;
    padding-top: 10px;
}

.download_button_pdf {
    background-image: url(../images/pdf_icon.png);
    height: 50px;
    background-position: left;
    background-repeat: no-repeat;
    width: 100px;
    display: block;
    background-size: 50px 50px;
    text-align: right;
 }
 
.link, .link:visited {
}

.link:hover {
}

.step_container_overlay {
    position: fixed;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: 114;
    background-color: rgba(255, 255, 255, 0.6);
}

.step_background {
	display: block;
    width: 300px;
	-webkit-box-shadow: 0 12px 16px 0 rgba(33, 33, 33, 0.2), 0 0 8px 0 rgba(33, 33, 33, 0.2);
    box-shadow: 0 12px 16px 0 rgba(33, 33, 33, 0.2), 0 0 8px 0 rgba(33, 33, 33, 0.2);
    border-radius: 8px;
    padding: 10px;
}

.step_container {
    display: inline-grid;
    top: 40%;
    position: fixed;
    left: 40%;
    padding: 20px;
    z-index: 115;
    background-color: #FFF;
}

.step_item {
	font: 13px/18px Arial, Tahoma, sans-serif;
	margin: 8px;
    text-align: center;
}

.step_button {
	height: 28px;
	width: 100%;
	color: #FFF!important;
	background: #E4032E!important;
	margin: 0px;
    text-align: center;
    padding: 5px;
    border: none;
}

.step_field {
	width: 100%;
	font: bold 16px/28px Arial, Tahoma, sans-serif;
	background-color: #FFF;
	border: solid 1px #999999;
	padding-left: 3px;
	
}

.step_height {
	height: 28px;
}

.step_header {
	color: #999999;
	font: 13px/18px Arial, Tahoma, sans-serif;
	margin: 8px;
    text-align: left;
}

