/*main*/

.first_font {
	font: 13px/18px Arial, Tahoma, sans-serif;
}

.first_color {
	background: #100280;
}
.second_color {
	background: #BBB;
}
.warning_color {
    background-color: #FBEEC0 !important
}

.first_text_color{
	color: #000;
}
.second_text_color {
	color: #FFF;
}
.third_text_color {
	color: #100280;
}

.first_frames_border {
	border: solid 1px #BBB;
}
.second_frames_border {
	border: solid 1px #E6E6E6;
}


.background_color {
	background: #FFF;
}

.url_color { 
	color: #2873b6;
}

/*height*/
.widgets_height {
	height: 20px;
}

.header_height {
	height: 30px;
}

.block_height {
	min-height: 30px;
}


/*work_area*/

.header_color {
	background: #100280;
}

.header_line_height {
	line-height: 34px;
}
.header_font_size {
	font-size: 15px;
}
.work_area_width {
	width: 1080px;
}


/*error*/

.error_color {
	border-color: #E50029 !important;
}


/*widgets*/

.widgets_header_float {
	display: table-cell;
}
.widgets_body_float {
	display: table-cell;
}


.widgets_color {
	background-color: #FFF;
}

.widgets_label_color {
	color: #000;
}

.widgets_font { 
	font: bold 13px/18px Arial, Tahoma, sans-serif;
}

.downarrow_color {
	background-color: rgba(231, 240, 245, 1);
}
.downarrow_size {
	size: 10px;
}

/*messages*/

.messages_color {
	background: #f3f3f3;
}
.messages_border {
	border: 2px solid #BBB;
}
.error_border {
	 border: 2px solid #E50029;
}


/*buttons*/
.buttons_color {
	background: #BBB;
}

.buttons_height {
	height: 32px;
}

.buttons_width {
	width: 98px;
}
